.themes {
	background-color: #348fd4;
}

.summary {
	background-color: #cc4037;
}

.commentary {
	background-color: #ffc19f;
}

.minor {
	background-color: Linen;
}

.links {
	background-color: #4c0d09;
}

h2 {
	font-family: 'Chelsea Market', cursive;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.card img {
	max-width: 150px;
	max-height: 150px;
}