.themes {
	background-color: #348fd4;
}

.summary {
	background-color: #cc4037;
}

.commentary {
	background-color: #ffc19f;
}

.minor {
	background-color: Linen;
}

.links {
	background-color: #4c0d09;
}

body { 
    padding-top: 65px; 
}

h2 {
	font-family: 'Chelsea Market', cursive;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.card img {
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
}

.seetext {
	font-weight: bold;
}

.smallimgs {
	max-width: 300px;
	max-height: 300px;
}