.themes {
	background-color: #348fd4;
}

.summary {
	background-color: #cc4037;
}

.commentary {
	background-color: #ffc19f;
}

.minor {
	background-color: #06406c;
}

.links {
	background-color: #4c0d09;
}

h2 {
	font-family: 'Chelsea Market', cursive;
}