@font-face {
	font-family: GoodDog;
	src: url{'/fonts/GoodDog/GoodDog.woff'} format('woff');
}

p {
	font-family: GoodDog;
}

.List {
	background-color:LightCyan;
	padding-left:20px;
	
}

.Lorem-ipsum {
	padding-top:1000px;
	
}

.Home {
	display: block;
	margin: 0 auto;
	
}

.Video {
	background-color: LawnGreen;
}