@font-face {
	font-family: GoodDog;
	src: url{'/fonts/GoodDog/GoodDog.woff'} format('woff');
}

p {
	font-family: GoodDog;
}

.List {
	background-color:LightCyan;
	padding-left:20px;
	
}

.Lorem-ipsum {
	padding-top:500px;
	
}

.Home {
	display: block;
	margin: 0 auto;
	padding-bottom:0px;
	padding-top:50px;
}

.bar {
	
}

.mib {
	display:block;
	padding-top:50px;
}