html, body {
  padding: 0;
  margin: 0;
}

.nav {
    background-color: white;
    height: 70px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    letter-spacing: 1.5px;
}

.nav ul {
    font-size: 0;
}

.nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
}

.nav ul li a {
    text-decoration: none;
    display: block;
    color:#3498db; background:white;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
}

.nav ul li a:hover {
    font-weight: bold;
    color: forestgreen;
    background-color: antiquewhite;
}

.coll > * + *{
    display: none;
}

.coll > * {
    cursor: pointer;
}

.coll:focus {
    outline: none;
}

.coll:focus > * + * {
    display: block;
}

.coll:active {
    outline: none;
}

.coll:active > * + * {
    display: block;
}

.headerblock a {
    float: left;
    text-decoration: none;
    color: white;
    width: 150px;
}

.headerblock a .hover {
    display: none;
}

.headerblock a:hover .prev {
    display: none;
}

.headerblock a:hover .hover {
    display: inline;
    cursor: pointer;
}

.headerblock img {
    vertical-align: middle;
    display: inline-block;
    height: 2em;
}

.contain3 {
    background-color: beige;
    position: relative;
    padding: 1%;
    margin: 2%;
    border: 5px solid;
    box-shadow: 10px 10px 5px gray;
    white-space: normal;
    overflow: auto;
}

.contain3 .nonicons {
    text-decoration: none;
    color: forestgreen;
    font-weight: bold;
    line-height: 25px;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.contain3 a img {
    padding-left: 20px;
    height: 20px;
    width: 20px;
}

.contain3 h1 {
    border-bottom: 5px solid;
}

/* Table highlighting */
table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}

td, th {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  position: relative;
  outline: 0;
}

body:not(.nohover) tbody tr:hover {
  background-color: #eaeaea;
}

.fcolumn {
    width: 25%;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #3498db;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

.link {
    color: forestgreen;
}

.icons {
    color: cornflowerblue;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.icons:hover {
    color: blue;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.nonicons:hover {
    color: #33691e;
    text-decoration: underline;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.resume {
  border-style: dotted;
  width: 20%;
  margin: 0 auto;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

tr {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.resume:hover {
  background-color: skyblue;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
    color: forestgreen;
}

.nonlink {
  color: #d35400;
}

.contain3 h1 {
  color: black;

  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.contain3:hover h1 {
  color: #27ae60;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

tr .fcolumn {
  color: black;

  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

tr:hover .fcolumn {
  color: #d35400;

  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.indent {
  margin-left: 10px;
}

.vidWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
}
.vidWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.musText {
  font-weight: bold;
}

td:nth-child(odd) {  
  border-right: 3px solid gray;
  text-align: center;
}

.logo {
  height: 60px;
  width: 73.3px;
}

p {
  text-align: center;
}

/* DERIVED FROM: https://codepen.io/JTBennett/pen/GorVRL*/
.fade-in{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}