@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
  @include margin-bottom(2);

  .inner {
    @include padding(1, 0.75, 0);
  }

  .title {
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  .body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }

  .buttoncomment {
    background-color: transparent;
    border: 1px solid var(--color-button-border);
    border-radius: 10px;
    color: $color-blue;
    display: inline-block;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    height: $button-height;
    line-height: $button-height;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease;
    @include padding(0, 1);
  
    &:hover,
    &:focus {
      color: $color-dark-blue;
    }
  }
}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;

    .inner {
      @include padding(1.25, 0.75, 0);
    }
  }
}

@include breakpoint-md {
  .page {
    lost-column: 2/3;

    .inner {
      @include padding(1.5, 1, 0);
    }
  }
}
