body {
  padding-top: 50px;
  font-family: 'Days One', sans-serif;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.page {
	height: 100%;
	width:100%;
}

.backtotop {
	position: absolute;
	top: 90%;
	left: 50%;
}

.page1 {
	background:linear-gradient(#FF4E50 10%, #F9D423 90%);
}

.btnmeet {
	position: absolute;
	top: 75%;
	left: 25%;
}

.btnwork {
	position:absolute;
	top: 75%;
	left: 50%;
}

.btncourse {
	position: absolute;
	top: 75%;
	left: 75%;
}

.page2 {
	background:linear-gradient(#8e9eab 10%, #eef2f3 90%);
}
