body {
    background: url(../images/9d962609.png) repeat;
  padding-top: 50px;
  font-family: 'Days One', sans-serif;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.page1 {
	height:100vh;
	width:100%;
}

.page {
    margin-bottom:10%;
}

.Title {
    background-color:yellow;
    border-style:outset;
    border-width:thick;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display:block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}

.scrolltop {
    position:fixed;
    top: 90%;
    left: 95%;
    display: none;
}

.back1 {
    background-color: grey;
    height: 50%;
    width: 90%;
    left: 5%;
}

.btnmeet {
	position: absolute;
	top: 80%;
	left: 20%;
}

.btnwork {
	position:absolute;
	top: 80%;
	left: 45%;
}

.btncourse {
	position: absolute;
	top: 80%;
	left: 70%;
}

.yellowC {
    background-color:white;
    border-radius: 2%;
    border-style: groove;
    border-color:yellow;
    border-width: thick;
}