@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  .content {
    @include margin-auto();
  }

  .footer {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .comments {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    @include margin(1, 0, 0, 0);

    .buttonArticles {
      @include margin(0, 0.5, 0, 0);
    }
  }

  .buttoncomment {
    background-color: transparent;
    border: 1px solid var(--color-button-border);
    border-radius: 10px;
    color: $color-blue;
    display: inline-block;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    height: $button-height;
    line-height: $button-height;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease;
    @include padding(0, 1);
  
    &:hover,
    &:focus {
      color: $color-dark-blue;
    }
  }
}

@include breakpoint-md {
  .post {
    .footer {
      @include padding-equal(0);
    }

    .comments {
      @include padding-equal(0);
    }

    .buttons {
      left: 30px;
      max-width: none;
      position: fixed;
      top: 30px;
      @include margin(0, 0.5, 0, 0);
    }
  }
}
